/.vscode
/AccountPictures
/calculator.html
/calculatorinternpe.html
/css
/Desktop
/desktop.ini
/Documents
/Downloads
/function clearScreen() {.js
/intern.html
/internpeproject.css
/Libraries
/Music
/Pictures
/reg form.html
/style.css
/style.csss.css
/Untitled-1.css
/Videos